<template name="NewRoleForm">

    <div class="card">

        <form class="form-horizontal" role="form">

            <div class="card-body card-padding">


                <div class="form-group">
                    <label class="control-label"><strong>{{_ "role.name"}}</strong></label>
                    <div class="fg-line">
                        <input type="text" id="name" placeholder="{{_ "role.name_placeholder"}}" name="name" required="" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label"><strong>{{_ "role.permissions"}}</strong></label>
                </div>

                {{#each globalPermissions}}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{_ nameForI18n}}</label>
                        <div class="col-sm-10">
                            <select id="{{this}}" name="{{ selectName }}" class="tag-select form-control" style="width: 100%" multiple data-placeholder="{{_ "role.no-action"}}">
                                {{#each actions}}
                                    <option value="{{this}}" >{{_ nameForI18n}}</option>
                                {{/each }}
                            </select>
                        </div>
                    </div>
                {{/each }}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="addNewRoleButton" class="btn btn-primary btn-sm waves-effect">{{_ "role.add"}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</template>