<template name="EditRoleForm">
    <div class="modal fade" id="roleEditModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close visible-xs-block" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modifier le groupe</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" id="editRoleForm" role="form">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label"><strong>{{_ "role.name"}}</strong></label>

                                    <input type="text" id="name" value="{{ role.name }}" placeholder="{{_ "role.name_placeholder"}}" name="name" required="" class="form-control">

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label"><strong>{{_ "role.permissions"}}</strong></label>
                            </div>
                        </div>

                        {{#each globalPermissions}}
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{_ nameForI18n}}</label>
                                    <div class="col-sm-8">
                                        <select id="{{this}}" name="{{ selectName }}" class="tag-select form-control" multiple data-placeholder="{{_ "role.no-action"}}" style="width: 100%">
                                            {{#each actions}}
                                                <option {{ roleCan }} value="{{this}}" >{{_ nameForI18n}}</option>
                                            {{/each }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {{/each }}
                    </form>

                </div>
                <div class="modal-footer">
                    <button id="roleFormSubmit" type="button" class="btn btn-link no-wave">{{_ "role.confirm-edit"}}</button>
                    <button type="button" class="hidden-xs btn btn-link" data-dismiss="modal">{{_ "role.close-modal"}}</button>
                </div>
            </div>
        </div>

    </div>
</template>