<template name="ShowRole">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-xs-6">
                    <h2>{{_ "role.name_placeholder"}}: {{ role.name }}</h2>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">
                        {{#if userCan "role.edit"}}
                            <button id="editRole" data-toggle="modal" data-target="#roleEditModal" type="button" class="btn btn-lg bgm-orange"><i class="zmdi zmdi-edit"></i></button>
                            {{> EditRoleForm role=role }}
                        {{/if}}
                        {{#if userCan "role.remove"}}
                            <button id="deleteRole" type="button" class="btn btn-lg btn-danger"><i class="zmdi zmdi-delete"></i></button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body card-padding">
            <form class="form-horizontal" >
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label"><strong>{{_ "role.permissions"}}</strong></label>
                    </div>
                </div>
                {{#if hasGlobalPermissions}}
                    {{#each globalPermissions}}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{_ nameForI18n}}</label>
                            <div class="col-sm-10">
                                <select disabled class="tag-select show-only form-control" style="width: 100%" multiple>
                                    {{#each actions}}
                                        <option selected >{{_ nameForI18n}}</option>
                                    {{/each }}
                                </select>
                            </div>
                        </div>
                    {{/each }}
                {{else}}
                    <span class="help-block">{{_ "role.role_has_no_permission"}}</span>
                {{/if}}
            </form>
        </div>
    </div>
</template>